.footer {
  color: blue;
  font-size: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  line-height: 4rem;
  border-top: 1px solid #756d4d;
  text-align: center;
  background: #999;
}
